body {
    padding:0px;
    margin:0px;
    font-family: 'Raleway Dots', cursive;
    background: #4d4ca9;
}

h1 {
    font-weight: 100;
    font-size: 3em;
    color: #fff;
}

.container {
    padding-top: 5em;
    width:25em;
    margin: 0 auto;
}

#keys {
    height: 13em;
    display: flex;
    flex: 8;
    justify-content: center;
    background: #2522b3;
    border: 2px solid #1e0252;
    box-shadow: inset 0 2px 0 0 #1578f8;
    padding: 3em 1em 1em 1em;
    border-radius: 0.5em;
}

.note {
    flex: 1;
    display: inline-flex;
    align-items: center;
}

.ebony {
    justify-content: center;
    position: relative;
    height: 8em;
    background-color: #2a2abb;
    box-shadow: 2px 3px #7474ff;
    border: 2px solid #bce1ff;
    color: white;
    width: 5%;
    margin: 0 -6.2%;
    border-radius: 0px 0px 0.5em 0.5em;
}

.ivory {
    flex-flow: column;
    justify-content: flex-end;
    height: 12em;
    border: 2px solid #bce1ff;
    background: #fffef6;
    box-shadow: 2px 3px #7474ff;
    border-radius: 0px 0px 0.5em 0.5em;
    padding-bottom: 0.25em;
}

.ivory:active, .ebony:active, .active {
    background: #fff7ae;
    box-shadow: 2px 2px #7474ff;
    transition: .1s;
}

/* embarrassing */
div#E {
    margin-right: 4px;
}

#keys:after {
    top: 29.5em;
    width: 24.7em;
    margin: 0 auto;
    content: "";
    position: fixed;
    height: 1.1em;
    border-radius: 0 0 8px 8px;
    pointer-events: none;
    border-bottom: 2px solid #000001;
    border-left: 2px solid #000001;
    border-right: 2px solid #000001;
    background: #441dbf;
    box-shadow: 0px 10px #4544bc;
    z-index: -1;
}