body {
    padding:0px;
    margin:0px;
    font-family: 'Raleway Dots', cursive;
}

h1 {    
    font-weight: 100;
    font-size: 3em;
    color: #c684d3;
    font-family: 'Raleway Dots', cursive;
}

.container {
    padding-top: 5em;
    width:25em;
    margin: 0 auto;
}

#keys {
    height: 13em;
    width: 100%;
    display: flex;
    flex: 8;
    justify-content: center;
    background: #2b2abb;
    box-shadow: 3px 3px #c585d2;
    padding: 3em 1em 1em 1em;
    border-radius: 0.5em;
}

.note {
    flex: 1;
    display: inline-flex;
    align-items: center;
}

.ebony {
    justify-content: center;
    position: relative;
    height: 60%;
    background-color: #2a2abb;
    box-shadow: 2px 3px #7474ff;
    border: 2px solid #bce1ff;
    color: white;
    width: 5%;
    margin: 0 -6.2%;
    border-radius: 0px 0px 0.5em 0.5em;
}

.ivory {
    flex-flow: column;
    justify-content: flex-end;
    height: 100%;
    border: 2px solid #bce1ff;
    background: #fffef6;
    box-shadow: 2px 3px #7474ff;
    border-radius: 0px 0px 0.5em 0.5em;
    padding-bottom: 0.25em;
}

.ivory:active, .ebony:active, .active {
    background: #fff7ae;
    box-shadow: 2px 2px #7474ff;
    transition: .1s;
}


/* embarrassing */
div#E {
    margin-right: 2px;
}